<div
  class="cmp-selected-letters"
  [ngClass]="
    letterPositioning === 'radial' ? 'cmp-selected-letters--radial' : ''
  "
>
  <ng-container *ngFor="let l of lettersPlaceholder; let i = index">
    <button
      type="button"
      *ngIf="letters[i]"
      [attr.data-inactive]="state !== 'game-in-progress'"
      [disabled]="letters[i].isInUse || state !== 'game-in-progress'"
      (click)="addLetter.emit(letters[i])"
    >
      {{ letters[i].letter }}
    </button>
    <button type="button" *ngIf="!letters[i]" disabled aria-hidden="true">
      ?
    </button>
  </ng-container>
</div>
