<button
  type="button"
  aria-label="Multiply"
  [attr.data-selected]="operator === 'multiplication'"
  (click)="selectOperator.emit('multiplication')"
  [disabled]="state !== 'game-in-progress' || selectedNumber == null"
>
  &times;
</button>
<button
  type="button"
  aria-label="Divide"
  [attr.data-selected]="operator === 'division'"
  (click)="selectOperator.emit('division')"
  [disabled]="state !== 'game-in-progress' || selectedNumber == null"
>
  &divide;
</button>
<button
  type="button"
  aria-label="Add"
  [attr.data-selected]="operator === 'addition'"
  (click)="selectOperator.emit('addition')"
  [disabled]="state !== 'game-in-progress' || selectedNumber == null"
>
  &plus;
</button>
<button
  type="button"
  aria-label="Subtract"
  [attr.data-selected]="operator === 'subtraction'"
  (click)="selectOperator.emit('subtraction')"
  [disabled]="state !== 'game-in-progress' || selectedNumber == null"
>
  &minus;
</button>
