<h1>Letters Game</h1>

<app-letters-game-instructions
  [state]="state"
  [timeRemaining]="timeRemaining"
  [roundDuration]="roundDuration"
  [longestWord]="longestWord"
></app-letters-game-instructions>

<app-letters-game-board
  [state]="state"
  [word]="word"
  (removeLetter)="onRemoveLetter($event)"
></app-letters-game-board>

<app-letters-game-selected-letters
  [letterPositioning]="letterPositioning"
  [state]="state"
  [letters]="letters"
  (addLetter)="onAddLetter($event)"
></app-letters-game-selected-letters>

<div class="cmp-controls">
  <div class="cmp-cv-buttons" *ngIf="state === 'game-setup'">
    <button type="button" (click)="chooseVowel()" [disabled]="vowelCount > 5">
      Vowel
    </button>
    <button
      type="button"
      (click)="chooseConsonant()"
      [disabled]="consonantCount > 5"
    >
      Consonant
    </button>
  </div>
  <div
    class="cmp-cv-buttons"
    *ngIf="state !== 'game-setup' && state !== 'game-ended'"
  >
    <button
      type="button"
      [disabled]="state !== 'game-in-progress'"
      (click)="clearWord()"
    >
      Clear Word
    </button>
    <button type="button" (click)="resetGame()" *ngIf="roundDuration === 0">
      New Game
    </button>
    <a href="/" class="cmp-link-as-button" *ngIf="roundDuration === 0">
      Main Menu
    </a>
  </div>
  <div class="cmp-cv-buttons" *ngIf="state === 'game-ended'">
    <button type="button" (click)="resetGame()">New Game</button>
    <a href="/" class="cmp-link-as-button"> Main Menu </a>
  </div>
</div>
