<h1>Letters Game</h1>

<app-letters-game-instructions
  [state]="state"
  [timeRemaining]="timeRemaining"
  [roundDuration]="roundDuration"
  [longestWord]="longestWord"
></app-letters-game-instructions>

<app-letters-game-board
  [state]="state"
  [word]="word"
  (removeLetter)="onRemoveLetter($event)"
></app-letters-game-board>

<app-letters-game-selected-letters
  [letterPositioning]="letterPositioning"
  [state]="state"
  [letters]="letters"
  (addLetter)="onAddLetter($event)"
></app-letters-game-selected-letters>

<app-letters-game-menu
  [state]="state"
  [consonantCount]="consonantCount"
  [vowelCount]="vowelCount"
  [roundDuration]="roundDuration"
  (chooseConsonant)="onChooseConsonant()"
  (chooseVowel)="onChooseVowel()"
  (clearWord)="onClearWord()"
  (resetGame)="onResetGame()"
></app-letters-game-menu>
