:host {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr 1fr 1fr auto auto auto;
  gap: var(--size-s5);
  padding-block: var(--size-s2);
  place-items: center;
}

.cmp-button-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-s0);
  justify-content: center;
}

.cmp-instructions,
.cmp-target {
  text-align: center;
}

.cmp-countdown,
.cmp-target-number {
  font-family: var(--mono);
  font-size: var(--size-s5);
  text-align: center;
  text-transform: uppercase;
}
