<div class="cmp-title">
  <h1>Numbers Game</h1>
</div>

<div class="cmp-instructions">
  <p>
    Choose a blend of numbers. Big numbers, include 25, 50, 75, and 100. Small
    numbers go from 1 to 10.
  </p>
</div>

<div class="cmp-target">
  <p>The target is:</p>
  <p class="cmp-target-number">751</p>
</div>

<div class="cmp-combined-numbers">
  <p>TODO: put numbers resulting from math operations here</p>
</div>

<div class="cmp-operators">
  <p>
    TODO: put buttons for multiplication, division, addition, and subtraction
    here
  </p>
</div>

<div class="cmp-numbers">
  <p>TODO: display the randomly selected numbers here</p>
</div>

<div class="cmp-menu">
  <p>TODO: put buttons and links here to control the game</p>
</div>
