<h1>Numbers Game</h1>

<app-numbers-game-instructions
  [state]="state"
  [closestDistance]="closestDistance"
  [timeRemaining]="timeRemaining"
></app-numbers-game-instructions>

<app-numbers-game-target [targetValue]="targetValue"></app-numbers-game-target>

<app-numbers-game-combined-numbers
  [state]="state"
  [combinedNumbers]="combinedNumbers"
  (selectNumber)="handleNumberClick($event)"
></app-numbers-game-combined-numbers>

<app-numbers-game-operators
  [state]="state"
  [selectedNumber]="selectedNumber"
  [operator]="operator"
  (selectOperator)="handleOperatorClick($event)"
></app-numbers-game-operators>

<app-numbers-game-starting-numbers
  [state]="state"
  [startingNumbers]="startingNumbers"
  (selectNumber)="handleNumberClick($event)"
></app-numbers-game-starting-numbers>

<app-numbers-game-menu
  [state]="state"
  [roundDuration]="roundDuration"
  (chooseSpread)="onChooseSpread($event)"
  (clearWork)="onClearWork()"
  (resetGame)="onResetGame()"
></app-numbers-game-menu>
