@layer components {
  h1 {
    margin-block-start: var(--size-s0);
  }

  button {
    font-size: var(--size-s1);
    background-color: var(--paper);
    border: 0.125rem solid currentColor;
    padding: 0.5em 1em;
  }

  button:hover,
  button:focus {
    background-color: var(--ink);
    color: var(--paper);
    outline: 0.125rem solid var(--ink);
    outline-offset: 0.25em;
  }

  input[type="radio"] {
    accent-color: var(--ink);
    width: var(--size-s0);
    height: var(--size-s0);
  }

  a {
    font-size: var(--size-s0);
    margin-block-start: var(--size-s5);
    display: inline-block;
  }

  .cmp-settings-form {
    display: flex;
    flex-direction: column;
    gap: var(--size-s4);
  }
}
